ALERTS_API_TOKEN=replace_with_real_token
ALERTS_API_HOST=https://api.alerts.in.ua
ALERTS_API_PATH_TEMPLATE=/v1/iot/active_air_raid_alerts/{regionId}.json
REGION_ID=19
TG_BOT_TOKEN=replace_with_real_bot_token
TG_CHAT_ID=replace_with_chat_id
ALERTS_USE_STUB=false
ALERTS_STUB_RESPONSE=N
HTTP_TIMEOUT_MS=10000
HTTP_MAX_RETRIES=2
HTTP_RETRY_BASE_DELAY_MS=500
TG_HTTP_TIMEOUT_MS=10000
TG_HTTP_MAX_RETRIES=2
TG_HTTP_RETRY_BASE_DELAY_MS=500
LOCK_FILE_PATH=.alerts-job.lock
